
<div class="blog-entry ftco-animate">
    <a href="single.html" class="img" style="background-image: url(images/image_4.jpg);"></a>
    <div class="text p-4">
        <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
        <div class="meta-wrap">
            <p class="meta">
                <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
            </p>
        </div>
        <p class="mb-4">A small river named Duden flows by their place and supplies</p>
        <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
    </div>
</div>
