<%- include('partials/header.ejs'); %>
<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-0">
            <div class="row d-flex no-gutters">
                <div class="col-lg-8 px-md-5 py-5">
                    <div class="row">
                        <div class="position-static position-lg-fixed mt-5">
                            <h1 class="w-100 display-3 font-weight-light">404</h1>
                            <h3 class="w-100">That page could not be found...</h3>
                            <h2 class="w-100 display-3 mt-3">I'm Sorry :(</h2>
                        </div>
                    </div>
                </div>
                <%- include('partials/sidebar_right.ejs'); %>
            </div>
        </div>
    </section>
</div>
<%- include('partials/footer.ejs'); %>