<%- include('partials/header.ejs'); %>
<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-0">
            <div class="row no-gutters">
                <div class="col-md-5 ftco-about d-flex flex-column-reverse">
                    <div class="img" style="background-image: url('/images/about-1.jpg');"></div>
                    <div class="text p-4">
                        <h3 class="mb-4">Hi! I'm <span>Nicole</span> a Professional Blogger from Philippines</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row justify-content-end">
                        <div class="col-md-7 ftco-about">
                            <div class="img img-2" style="background-image: url('/images/about-2.jpg');"></div>
                            <div class="text p-4">
                                <h3 class="mb-4">Ionize is a Personal Blog Template</h3>
                                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            </div>
                        </div>
                        <div class="col-md-12 ftco-about">
                            <div class="text p-4">
                                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row px-4 pt-5 mt-md-4 mb-5">
                <div class="col-md-4">
                    <div class="services text-center">
                        <h3>Steps to A Healthy and Profitable Email List</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services text-center">
                        <h3>Own Your Site Design with this Easy CSS Trick</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="services text-center">
                        <h3>Steps for A Simple, Yet Effective Content Calendar</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%- include('partials/footer.ejs'); %>