<%- include('Partials/header.ejs')%>

<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
        <div class="container px-0">
            <div class="row no-gutters">
                
                <%
                    posts = posts.slice(0,(posts.length- posts.length%3));
                    const rowPattern = [
                        ["vp","hpr","hp"],
                        ["vp","vp","vp"],
                        ["hp","hpr","vp"],
                        ["vp","vpr","vp"],
                    ];
                    let amountOfRows = posts.length/3;
                    for (var i = 0; i < amountOfRows; i++) {
                        let pattern = rowPattern[i % (rowPattern.length+1)];
                        let row = posts.splice(0,3);%>
                        <%- include("index_page_posts/row.ejs",{posts:row,posts_meta:pattern}); %>
                    <%}
                %>
            </div>
        </div>
    </section>
</div>


<%- include('Partials/footer.ejs')%>
