<%- include('Partials/header.ejs')%>

<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb bg-light">
        <div class="container px-0">
            <div class="row no-gutters">
                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate active">
                        <div class="carousel-blog owl-carousel">
                            <div class="item">
                                <a href="single.html" class="img" style="background-image: url(images/image_1.jpg);"></a>
                            </div>
                            <div class="item">
                                <a href="single.html" class="img" style="background-image: url(images/image_7.jpg);"></a>
                            </div>
                            <div class="item">
                                <a href="single.html" class="img" style="background-image: url(images/image_8.jpg);"></a>
                            </div>
                        </div>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 d-flex">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex align-items-center">
                                <a href="https://vimeo.com/45830194" class="img img-2 popup-vimeo d-flex align-items-center justify-content-center" style="background-image: url(images/image_2.jpg);">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="ion-ios-play"></span>
                                    </div>
                                </a>
                                <div class="text text-2 p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex align-items-center">
                                <a href="single.html" class="img img-2 order-md-last" style="background-image: url(images/image_3.jpg);"></a>
                                <div class="text text-2 text-md-right p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate">
                        <a href="single.html" class="img" style="background-image: url(images/image_4.jpg);"></a>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate">
                        <a href="single.html" class="img" style="background-image: url(images/image_5.jpg);"></a>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate">
                        <a href="single.html" class="img" style="background-image: url(images/image_6.jpg);"></a>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 d-flex">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex align-items-center">
                                <a href="single.html" class="img img-2" style="background-image: url(images/image_7.jpg);"></a>
                                <div class="text text-2 p-4">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="blog-entry ftco-animate d-md-flex align-items-center">
                                <a href="single.html" class="img img-2 order-md-last" style="background-image: url(images/image_8.jpg);"></a>
                                <div class="text text-2 p-4 text-md-right">
                                    <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                                    <div class="meta-wrap">
                                        <p class="meta">
                                            <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                            <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                        </p>
                                    </div>
                                    <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate">
                        <a href="single.html" class="img" style="background-image: url(images/image_6.jpg);"></a>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate">
                        <a href="single.html" class="img" style="background-image: url(images/image_4.jpg);"></a>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate d-flex flex-column-reverse">
                        <a href="single.html" class="img" style="background-image: url(images/image_5.jpg);"></a>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="blog-entry ftco-animate">
                        <a href="single.html" class="img" style="background-image: url(images/image_6.jpg);"></a>
                        <div class="text p-4">
                            <h3 class="mb-2"><a href="single.html">A Loving Heart is the Truest Wisdom</a></h3>
                            <div class="meta-wrap">
                                <p class="meta">
                                    <span><i class="icon-calendar mr-2"></i>Sept. 10, 2019</span>
                                    <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                    <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                                </p>
                            </div>
                            <p class="mb-4">A small river named Duden flows by their place and supplies</p>
                            <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                        </div>
                    </div>
                </div>
    
                <%- include("index_page_posts/row.ejs",{posts:posts.splice(0,3),posts_meta:["vp","vpr","vp"]}) %>
            </div>
        </div>
    </section>
</div><!-- END COLORLIB-MAIN -->


<%- include('Partials/footer.ejs')%>
