<aside id="colorlib-aside" role="complementary" class="js-fullheight img" style="background-image: url('/images/sidebar-bg.jpg');">
    <h1 id="colorlib-logo" class="mb-4"><a href="/">ionize</a></h1>
    <nav id="colorlib-main-menu" role="navigation">
        <ul>
            <li class="colorlib-active"><a href="/">Home</a></li>
            <li><a href="/">Travel</a></li>
            <li><a href="/">Lifestyle</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="colorlib-footer">
        <div class="mb-4">
            <h3>Subscribe for newsletter</h3>
            <form action="#" class="colorlib-subscribe-form">
                <div class="form-group d-flex">
                    <div class="icon"><span class="icon-paper-plane"></span></div>
                    <label>
                        <input type="text" class="form-control" placeholder="Enter Email Address">
                    </label>
                </div>
            </form>
        </div>
        <p class="pfooter">
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        </p>
    </div>
</aside>